* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(80deg, #ecece0, #eea209);
}

.main h2 {
  padding: 20px;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-family: "Bree Serif";
  color: hsl(44deg, 42%, 26%);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(30deg, 75%, 63%);
  z-index: 10000;
}
header .naranja {
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
header .naranja a img {
  width: 100px;
}
header .naranja img {
  width: 100px;
  height: 100px;
  padding: 10px;
}
header .naranja .header__naranja__logo {
  display: flex;
}
header .naranja .header__naranja__logo .titulo__naranja {
  display: block;
  padding-top: 5px;
  margin-left: 10px;
}
header .naranja .header__naranja__logo .titulo__naranja p {
  font-family: "Bree Serif";
  font-size: 20px;
  color: white;
}
header .naranja .header__naranja__logo .titulo__naranja p:first-child {
  font-size: 30px;
}
header .naranja .header__naranja__buscar input {
  width: 300px;
  padding: 5px;
}
header .contiene__menu {
  width: 100%;
  height: 70px;
  background-color: rgb(48, 47, 47);
  padding: 0px 20px;
}
header .contiene__menu #check__menu {
  display: none;
}
header .contiene__menu #label__check {
  width: 26px;
  height: 100%;
  display: none;
}
header .contiene__menu .menu__nav {
  height: 100%;
}
header .contiene__menu .menu__nav .menu__nav__ul {
  height: 100%;
  display: flex;
  position: auto;
}
header .contiene__menu .menu__nav .menu__nav__ul .menu__nav__ul__li {
  height: 100%;
  list-style: none;
  position: relative;
}
header .contiene__menu .menu__nav .menu__nav__ul .menu__nav__ul__li a {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
  padding: 14px 50px;
  text-transform: uppercase;
  font-family: "Bree Serif";
  font-size: 14px;
  transition: all 300ms ease;
  text-decoration: none;
}
header .contiene__menu .menu__nav .menu__nav__ul .menu__nav__ul__li a:hover {
  transform: scale(1.1);
  background: linear-gradient(to bottom, hsl(30deg, 75%, 63%), #746470);
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
header .contiene__menu .menu__nav .menu__nav__ul .menu__nav__ul__li .nav__elclub {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 300ms ease;
}
header .contiene__menu .menu__nav .menu__nav__ul .menu__nav__ul__li .nav__elclub .nav__elclub__li {
  list-style: none;
}
header .contiene__menu .menu__nav .menu__nav__ul .menu__nav__ul__li .nav__elclub .nav__elclub__li a {
  display: block;
  color: hsl(44deg, 42%, 26%);
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}
header .contiene__menu .menu__nav .menu__nav__ul .menu__nav__ul__li .nav__elclub .nav__elclub__li a:hover {
  background-color: hsl(44deg, 42%, 26%);
  color: white;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5);
}
header .contiene__menu .menu__nav .menu__nav__ul .menu__nav__ul__li .nav__elclub::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}
header .contiene__menu .menu__nav .menu__nav__ul .selected {
  transform: scale(1.1);
  background-color: hsl(30deg, 88%, 74%);
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5);
}
header .contiene__menu .menu__nav .menu__nav__ul .menu__nav__ul__li:hover .nav__elclub {
  visibility: visible;
  opacity: 1;
  top: 70px;
}
@media only screen and (max-width: 1200px) {
  header {
    /*ver tema de ubicacion sub menu responsive*/
  }
  header .naranja a img {
    width: 70px;
    height: auto;
  }
  header .naranja img {
    width: 70px;
    height: 70px;
  }
  header .header__naranja__buscar {
    display: none;
  }
  header #titulo1 {
    font-size: 25px;
  }
  header #titulo2 {
    font-size: 15px;
  }
  header .menu__nav {
    width: 100%;
  }
  header .menu__nav .menu__nav__ul {
    flex-direction: column;
    background-color: hsl(44deg, 42%, 26%);
    left: 0;
    top: 158px;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    transition: all 300ms ease;
    z-index: 100;
  }
  header .menu__nav .menu__nav__ul .menu__nav__ul__li {
    width: 100%;
    background-color: hsl(44deg, 42%, 26%);
  }
  header .menu__nav .menu__nav__ul .menu__nav__ul__li:hover {
    transform: scale(1);
  }
  header .menu__nav .menu__nav__ul .menu__nav__ul__li:hover .nav__elclub {
    top: 63px;
  }
  header .menu__nav .menu__nav__ul .menu__nav__ul__li .nav__elclub {
    left: 150px;
    width: 100%;
  }
  header .menu__nav .menu__nav__ul .menu__nav__ul__li:first-child a {
    background-position: 20px;
  }
}
@media only screen and (max-width: 768px) {
  header {
    /*ver tema ubicacion sub menu responsive*/
  }
  header .contiene__menu #label__check {
    display: block;
  }
  header .contiene__menu .icon__menu {
    display: flex;
    color: white;
  }
  header .contiene__menu #check__menu:checked ~ nav > ul {
    height: 400px;
    visibility: visible;
    opacity: 1;
  }
  header .contiene__menu .menu__nav__ul {
    flex-direction: column;
    background-color: hsl(44deg, 42%, 26%);
    position: fixed;
    left: 0;
    top: 158px;
    width: 100%;
    height: 0;
    transition: all 300ms ease;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
  }
}

footer {
  width: 100%;
  background-color: rgb(48, 47, 47);
  height: 100%;
}
footer .footer__container {
  flex-wrap: wrap;
  max-width: 1600px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 100%;
}
footer .footer__container .box__footer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100%;
}
footer .footer__container .box__footer img {
  width: 50px;
  padding: 5px;
}
footer .footer__container .box__footer h2 {
  margin-bottom: 10px;
  color: white;
  font-weight: 700;
  font-family: serif;
}
footer .footer__container .box__footer a {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: serif;
}
footer .footer__container .box__footer a:hover {
  opacity: 0.8;
  color: hsl(30deg, 88%, 74%);
}
footer .footer__container .box__footer .link {
  text-decoration: none;
  color: white;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(28deg, 1%, 43%);
  border-radius: 10px;
  position: relative;
  transition: 0.4s;
}
footer .footer__container .box__footer .link:hover {
  transform: rotate(45deg);
  background: linear-gradient(to bottom, #f88f05, #746470);
}
footer .footer__container .box__footer .link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #c24a4a;
  border-radius: 10px;
  transition: opacity 2s;
}
footer .footer__container .box__footer .link:hover::before {
  opacity: 0.4;
  transform: translate(-4px, -4px);
  filter: blur(80px);
}
footer .footer__container .box__footer .link::nth-child(1) {
  background-color: #c32aa3;
}
footer .footer__container .box__footer .link::nth-child(2) {
  background-color: rgb(68, 132, 228);
}
footer .footer__container .box__footer .link::nth-child(3) {
  background-color: #1da1f2;
}
footer .footer__container .box__footer .link:hover i {
  color: #c8c8c8;
  transform: rotate(-45deg);
}
footer .footer__container .box__footer .link:hover img {
  color: #c8c8c8;
  transform: rotate(-45deg);
}
footer .footer__container .box__footer .link:hover i.bi-instagram {
  color: #c32aa3;
}
footer .footer__container .box__footer .link:hover i.bi-facebook {
  color: rgb(68, 132, 228);
}
footer .footer__container .box__footer .link:hover i.bi-twitter {
  color: #1da1f2;
}
footer .box__copy {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 0px 50px;
  font-family: "Bree Serif";
}
footer .box__copy p {
  margin-top: 20px;
  color: white;
  font-family: "Bree Serif";
}
footer .box__copy #autor {
  font-weight: 1000;
  margin-bottom: 0px;
  color: white;
}
footer .box__copy hr {
  color: white;
}
@media only screen and (max-width: 768px) {
  footer #visible {
    display: none;
  }
}

.main {
  width: 100%;
  height: 100%;
  margin-top: 210px;
  margin-bottom: 100px;
}
.main h1 {
  padding: 20px;
  text-align: center;
  font-weight: 800;
  font-family: "Bree Serif";
  color: hsl(44deg, 42%, 26%);
}
.main p {
  font-family: serif;
  font-size: 20px;
}
@media only screen and (max-width: 1200px) {
  .main h1 {
    font-size: 30px;
    margin-top: 480px;
  }
  .main h2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .main .cs__img__noticias img {
    width: 300px;
  }
  .main .cs__video__noticia div video {
    height: 100px;
  }
}
.main .cs__sec__carousel {
  width: 100%;
  height: 100%;
}
.main .cs__sec__carousel img {
  max-height: 600px;
  margin-bottom: 30px;
}
.main .cs__sec__carousel .cs__texto__carousel h3 {
  color: hsl(44deg, 42%, 26%);
  background-color: hsl(30deg, 88%, 74%);
}
.main .cs__sec__carousel .cs__texto__carousel p {
  color: hsl(44deg, 42%, 26%);
  background-color: hsl(30deg, 88%, 74%);
}
.main .cs__img__fixture {
  background-color: hsl(28deg, 1%, 43%);
  color: white;
  font-family: "Bree Serif";
}
.main .cs__img__fixture img {
  height: 100px;
  width: 90%;
}
.main .cs__img__noticias {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: solid hsl(28deg, 1%, 43%);
}
.main .cs__img__noticias h3 {
  font-size: 25px;
  font-weight: 500;
  font-family: "Bree Serif";
  color: hsl(44deg, 42%, 26%);
}
.main .cs__img__noticias img {
  margin: 20px;
}
.main .cs__video__noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .cs__video__noticia div video {
  align-items: center;
  height: 500px;
  margin-top: 30px;
}
.main .cs__video__noticia h4 {
  font-size: 25px;
  font-weight: 500;
  font-family: "Bree Serif";
  color: hsl(44deg, 42%, 26%);
}

.btncontainer {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-top: 80px;
}
.btncontainer .contTres {
  position: relative;
  margin-top: 0px;
  width: 800px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
}
.btncontainer .contTres h3 {
  width: 200px;
  text-align: center;
  font-size: 13px;
  margin-left: -55px;
  font-weight: bold;
  margin-top: 45px;
  text-align: center;
  color: white;
}
.btncontainer .contTres p {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin-left: -55px;
  margin-top: 20px;
  font-size: 12px;
  color: #8a8a8a;
  letter-spacing: 1px;
}
.btncontainer .contTres:hover h4 {
  color: black;
}
.btncontainer .contTres .tresUno {
  display: inline-block;
  width: 33.333%;
  height: 100%;
  background: #363636;
  border-bottom: 15px solid #f5cb22;
  text-align: center;
  justify-content: center;
  transition: all 0.25s;
}
.btncontainer .contTres .tresUno .circleborder {
  position: absolute;
  top: 30px;
  width: 90px;
  height: 90px;
  background: #f5cb22;
  margin-left: 88.33333px;
  border-radius: 50%;
}
.btncontainer .contTres .tresUno .circlepic {
  position: absolute;
  top: -10px;
  margin-top: 30px;
  width: 110px;
  height: 110px;
  background: #5c5c5c;
  margin-left: 78.33333px;
  border-radius: 50%;
}
.btncontainer .contTres .tresUno:hover {
  background: #f5cb22;
}
.btncontainer .contTres .tresUno:hover .circlepic {
  background: #5c5c5c;
}
.btncontainer .contTres .tresUno:hover .circleborder {
  background: #333333;
}
.btncontainer .contTres .tresUno:hover svg {
  fill: #f5cb22;
  transition: all 0.65s;
  transform: rotateY(360deg);
}
.btncontainer .contTres .tresUno svg {
  margin-top: 15px;
  margin-left: 10px;
}
.btncontainer .contTres .tresDos {
  display: inline-block;
  width: 25%;
  height: 100%;
  background: #333333;
  border-bottom: 15px solid #f5cb22;
  transition: all 0.25s;
}
.btncontainer .contTres .tresTres {
  display: inline-block;
  width: 33.333333333%;
  height: 100%;
  background: #363636;
  border-bottom: 15px solid #f5cb22;
  transition: all 0.25s;
}
.btncontainer .contTres .tresTres .circleborder {
  position: absolute;
  top: 30px;
  width: 90px;
  height: 90px;
  background: #f5cb22;
  margin-left: 88.33333px;
  border-radius: 50%;
}
.btncontainer .contTres .tresTres .circlepic {
  position: absolute;
  top: -10px;
  margin-top: 30px;
  width: 110px;
  height: 110px;
  background: #5c5c5c;
  margin-left: 78.33333px;
  border-radius: 50%;
}
.btncontainer .contTres .tresTres:hover {
  background: #f5cb22;
}
.btncontainer .contTres .tresTres:hover .circlepic {
  background: #5c5c5c;
}
.btncontainer .contTres .tresTres:hover .circleborder {
  background: #333333;
}
.btncontainer .contTres .tresTres:hover svg {
  fill: #f5cb22;
  transition: all 0.65s;
  transform: rotateY(360deg);
}
.btncontainer .contTres .tresTres svg {
  margin-top: 15px;
  margin-left: 20px;
}

.cs__form1 {
  margin-top: 150px;
  margin-right: 30px;
  margin-left: 30px;
}
.cs__form1 .cs__form2 .cs__boton {
  margin-left: 80vh;
  align-items: center;
}

.cs__form1 {
  margin-top: 150px;
  margin-right: 30px;
  margin-left: 30px;
}
.cs__form1 button {
  margin-left: 50vh;
  align-items: center;
}

.cs__historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px hsl(28deg, 1%, 43%);
  margin-bottom: 12px;
}
.cs__historia img {
  margin: 15px;
}

.cs__estadio {
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px hsl(28deg, 1%, 43%);
  text-align: center;
  padding-bottom: 20px;
}
.cs__estadio div h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: "Bree Serif";
  color: hsl(44deg, 42%, 26%);
}
.cs__estadio div p {
  font-family: serif;
}
.cs__estadio div img {
  margin-bottom: 15px;
}
.cs__estadio div #estadioArriba {
  margin-top: 65px;
}

.cs__plantilla {
  padding-top: 80px;
  text-align: center;
}
.cs__plantilla .card {
  position: relative;
  width: 300px;
  height: 190px;
  background: hsl(30deg, 88%, 74%);
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.cs__plantilla .card:hover {
  height: 400px;
}
.cs__plantilla .card .imgbx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}
.cs__plantilla .card .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cs__plantilla .card:hover .imgbx {
  width: 200px;
  height: 200px;
}
.cs__plantilla .card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.cs__plantilla .card .content .detail {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}
.cs__plantilla .card .content .detail h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}
.cs__plantilla .card .content .detail h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}
.cs__plantilla .card .content .detail .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.cs__plantilla .card .content .detail .data h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}
.cs__plantilla .card .content .detail .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}
.cs__plantilla .card .content .detail .actionBtn {
  display: flex;
  justify-content: center;
}
.cs__plantilla .card .content .detail .actionBtn button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: rgb(48, 47, 47);
  color: #fff;
  cursor: pointer;
}
.cs__plantilla .card:hover .content .detail {
  transform: translateY(0px);
}
.cs__plantilla img {
  width: 300px;
}

.cs__dirigentes {
  margin-bottom: 50px;
}
.cs__dirigentes #dirigentes1 {
  margin-top: 65px;
}

@media only screen and (max-width: 1600px) {
  #estadioArriba {
    width: 700px;
  }
  #estadioAbajo {
    width: 400px;
  }
  .cs__plantilla .card {
    width: 200px;
    height: 110px;
  }
}
@media only screen and (max-width: 1200px) {
  .cs__plantilla {
    font-size: 10px;
  }
  .cs__plantilla img {
    width: 150px;
  }
}
.cs__tienda .cs__img__equipaciones {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cs__tienda .cs__img__equipaciones img {
  padding: 15px;
  border: solid 2px hsl(28deg, 1%, 43%);
  width: 900px;
}
.cs__tienda .cs__img__compras {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cs__tienda .cs__img__compras .cs__camise {
  margin-top: 40px;
}
.cs__tienda .cs__img__compras .cs__btncompras {
  margin-top: 40px;
}
.cs__tienda .cs__img__compras .cs__textcom {
  margin-top: 40px;
  font-size: 40px;
  font-family: "Bree Serif";
  color: hsl(44deg, 42%, 26%);
}
.cs__tienda .cs__img__tarjetas {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cs__tienda .cs__img__tarjetas h3 {
  font-size: 25px;
  font-weight: 500;
  font-family: "Bree Serif";
  color: hsl(44deg, 42%, 26%);
}
.cs__tienda .cs__img__tarjetas img {
  width: 100px;
  padding: 15px;
  border: solid 2px hsl(28deg, 1%, 43%);
}

.cs__mapa {
  text-align: center;
}
.cs__mapa iframe {
  border-radius: 50%;
  height: 300px;
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .cs__tienda {
    display: flex;
    flex-direction: column;
  }
}
.cs__penas {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: solid 2px hsl(28deg, 1%, 43%);
}
.cs__penas img {
  width: 900px;
}
.cs__penas #cs__dir {
  width: 400px;
}

/*# sourceMappingURL=style.css.map */
