* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import 'base/colors';
@import 'base/fonts';
@import 'base/main';
@import 'components/header.scss';
@import 'components/footers.scss';
@import 'components/index.scss';
@import 'components/registrar.scss';
@import 'components/login.scss';
@import 'components/elclub.scss';
@import 'components/tienda.scss';
@import 'components/pena.scss';
