.cs__tienda {   
   .cs__img__equipaciones {
        @include posicion (center,center,center);
        /*align-items: center;
        justify-content: center;
        text-align:center;*/
        img {
            padding: 15px;
            border: solid 2px hsl(28deg, 1%, 43%);
            width: 900px;
        }
    }

    .cs__img__compras {
        @include posicion (center,center,center);
         .cs__camise {
            margin-top: 40px
         }
         .cs__btncompras {
            margin-top: 40px
         }
         .cs__textcom {
            margin-top: 40px;
            font-size: 40px;
            font-family: nth($fonts,1);
            color: nth($colors-letras,2);
         }
    }

    .cs__img__tarjetas {
        @include posicion (center,center,center);
        /*align-items: center;
        justify-content: center;
        text-align: center;*/
        h3 {
            font-size: 25px;
            font-weight: 500;
            font-family: nth($fonts,1);
            color: nth($colors-letras,2);
        }
        img {
            width: 100px;
            padding: 15px;
            border: solid 2px hsl(28deg, 1%, 43%);
        }
    }
}

.cs__mapa {
    text-align: center;
    iframe {
        border-radius: 50%;
        height: 300px;
        padding: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .cs__tienda {
        display: flex;
        flex-direction: column;
    }
}